{% extends 'films/base.html' %}
{% load django_bootstrap5 %}
{% load films_tags %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'films:person_list' %}">{{ 'films:person'|model_verbose_name_plural }}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'films:person_detail' form.instance.id %}">{{ form.instance.id }}</a>
      </li>
      <li class="breadcrumb-item active">Редактирование персоны</li>
    </ol>
  </nav>
{% endblock %}
{% block content %}
  <h1>Редактирование персоны</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {{ form.media }}
    {% bootstrap_button button_type='submit' content='Сохранить' %}
  </form>
{% endblock %}
