{% extends 'films/base.html' %}
{% load films_tags %}
{% load django_bootstrap5 %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'films:genre_list' %}">{{ 'films:genre'|model_verbose_name_plural }}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'films:genre_detail' genre.id %}">{{ genre.name }}</a>
      </li>
      <li class="breadcrumb-item active">Удаление</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="alert alert-danger">
    <h4 class="alert-heading">Вы уверены?</h4>
    <p>Вы уверены, что хотите безвозвратно удалить жанр «{{ genre.name }}»?</p>
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_button 'Да, удалить!' button_type='submit' button_class='btn-primary' %}
      <a href="{% url 'films:genre_detail' genre.id %}" class="btn btn-light ms-4">Нет</a>
    </form>
  </div>
{% endblock %}
