<div class="card h-100">
  {% if person.photo %}
    <img src="{{ person.photo.url }}" alt="{{ person.name }}" class="card-img-top" />
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ person.name }}</h5>
    {% if person.origin_name %}
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ person.origin_name }}</h6>
    {% endif %}  
  </div>
  <div class="card-footer">
    <a href="{% url 'films:person_detail' person.id %}" class="text-decoration-none stretched-link">Подробнее</a>
  </div>
</div>
